@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);; */

}
body{

    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
}
.container{
    width: 100%;
    min-height: 100vh;
   
}
p{
    font-size: 20px;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 80px;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    letter-spacing:3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
    color: coral;
}
.links a{
    font-size: 40px;
    color: coral;
    margin: 25px 10px;
}
button{
 background-color: #a8eb12;
 font-size: 20px;
 color: darkblue;
cursor:pointer;
padding: 7px;
box-shadow:0 15px 10px  #051937;
margin-top: 15px;


}
.btns :hover{
background-color: coral;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;

}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #a8eb12;
}
/* .topline::after{
position: absolute;
} */
.multiText{
    color:coral;
    text-transform: capitalize;
    
}
h1{
    font-size: 80px;
}
.image {

    height: 400%;
    width:400%;
    right: 200%;
    top:200px;
   

    position:relative;


    transform: rotateY(180deg);
    filter: saturate(130%);
    animation: animateUser 4s linear infinite;
  }
  @keyframes animateUser{
    50%{
      
 
    }
  }
  .bgImage{
    position: absolute;
    top: 53%;
    right: -7%;
    transform: translate(-10%, -10%) rotate(-25deg);
    width: 35%;
    height: 30%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
  } 
  @keyframes animate{
   
    50%{
        width: 40%;
    }
  }