
 nav{
font-size: 30px;

 }
 .nav-link{
  color: pink;
  margin: 40px;
 }

 body{
  /* background-color: rgb(170,170,161); */
  background:fixed linear-gradient(to top,  rgba(102,153, 153, 0.96) 0% , #1a1a19 100% );
  color: white;
  
 }
 html body{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
 }
 .header-area .main .navbar-nav a{
  color: white;
 }
.header-area .main .navbar-nav .active a{
  color: rgb(247,226,74);

}
.header-area .main .navbar-nav a:hover{
 color:rgb(247,226,74);
  
}
.multiText{
  color:pink;
  text-transform: capitalize;
  
}
.topline{
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: pink;
}
h1{
  font-size: 80px;
  
}
p{
  font-size: 20px;
  letter-spacing: 2px;
  font-family:Arial, Helvetica, sans-serif;
}

.banner-image{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;

  
}
.image {
  position:relative;
} 

.bgImage{
  position: absolute;
  top: 45%;
  right: -5%;
  transform: translate(-10%, -10%) rotate(-25deg);
  width: 100%;
  height: 30%;

  animation: animate 4s linear infinite;
} 
@keyframes animate{
 
  50%{
      width: 134%;
  }
}
.wrapper1{
  margin: 90px;
  width: 400px;
  height: 400px;

}
.wrapper1 img{
  width: 250px;
  height: 250px;
}
.outerCircle{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background-color: white;
  
}
.circleBorder{
  position: absolute;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid; color: pink;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
}
.infoCircle{
  position: absolute;
  background:rgba(102,153, 153, 0.96);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: all 0.5s ease-in-out;
  top: 50px;
  left: -250px;
  margin: -100px 0px 0px -100px;
  text-align:center;
 


}
.infoCircle h2{
 
  position: absolute;
  top:50px

}
.infoCircle button{
  position: absolute;
  top:145px;
  left:47px

}
.outerCircle :hover .infoCircle{
  transition: all 0.5s ease-in-out;
  left: 50%;
top: 50%;
cursor:pointer;
}
.title-h1{
  text-align: center;
  letter-spacing: 12px;
}
button:hover{
  background-color:rgb(247,226,74)
  
}
a{
  text-decoration: none;
  color: pink;
}
a:hover{
  color:rgb(247,226,74) ;
  text-decoration: none;
}

.btn:hover{
  background-color: rgb(247,226,74);
  color: black;
}

.blink{
  animation: blink 10s infinite;
}
@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
    transform: scale(2);
  }
  51%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
li{
margin-right: 35px;
}
label{
  color: black;
  font-weight: bold;
}
